.sticky {
  position: sticky;
  top: 0;
  padding: 1.5rem;
  background-color: rebeccapurple;
  color: white;
}


.sticky__section {
  position: relative;
}


.sticky__sentinel_top {
  background: yellow;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  visibility: hidden;
}

.sticky__sentinel_bottom {
  background: yellow;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}